html{
    background-color: rgb(214, 214, 254);
    background-image: linear-gradient(to right, blue , white);
    background-blend-mode: soft-light;

}
.playOptions{
    color: #155724;
    background-color:rgb(156, 196, 214);
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(156, 196, 214);
    text-align: center;
    text-size-adjust: 10px;
    border:3px solid #e7e7e7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.3em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;  

}
.btn_B{
    background-color: rgb(75, 139, 83); /* Blue */
    padding: 5px;
    float: right;
    margin: inherit;
}

.btn_S{
  margin: 5px;
  padding: 5px;
}

.inputs{
  margin: inherit;
  padding: 5px;
}
.table {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px solid blue;
    text-align: center;
  }
  /* li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  } */

  /* CSS de las cartas de york */
/* body{
    margin: 0;
    padding: 0;
} */

.container {
    display: flex;
    justify-content: center;
}

/*
* card`s design
*/
.card{
    background-color: white;
    width: 5em;
    height: 6em;
    padding: 1px;
    margin: 5px;
    text-align: center;
    border-radius: 6px 10px 10px 10px;
    border-style: groove;
    box-shadow: 1px 0px 4px 2px rgba(0,0,0,1); 
}

/**
*  icon position
*/
.img{
  width: 61px;
  height: 70px;
    padding: 0px 0px 0px 0px; 
    margin: 0px;  
}
.pairCombinate{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: green;
  display: block;
  text-decoration: red;
  text-decoration-style:solid ;
  text-decoration-line: underline;
}
.playerText{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: green;
  display: block;
  text-decoration: red;
  text-decoration-style:solid ;
  text-decoration-line: underline;
}
/**
* number position
*/
/* h1{
    padding: 10px 0px 0px 0px;
    margin: 0;
} */
/* mesa */
/* .player1{
  display: -webkit-inline-box;
  height: 50rem;
  width: 50rem;
  background-color: khaki;
} */

#dealText {
  color: black;
  font-size: 30px;
}

